# Default ignored files
/shelf/
/.idea/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# next.js build output
.next

/.idea